modules = ["nodejs-24"]
[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Server"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/workspace && PORT=5000 BASE_PATH=/ pnpm --filter @workspace/afromuse-ai run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "API Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/workspace && PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3002

[[ports]]
localPort = 5003
externalPort = 8000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 4200

[[ports]]
localPort = 8083

[[ports]]
localPort = 8084
externalPort = 8008

[[ports]]
localPort = 18544
externalPort = 3000

[[ports]]
localPort = 18545
externalPort = 3001

[[ports]]
localPort = 18546
externalPort = 5173

[[ports]]
localPort = 18547
externalPort = 6800

[userenv]

[userenv.shared]
PORT = "5000"
BASE_PATH = "/"
VAPI_API_KEY = "vapi-V_jKcx3kKvSzdj60d8HoT-suNG2f7UGelbK8oEONjlsPHDSINyoSodKyhjuXUp_b0wZ"
NVIDIA_API_KEY = "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"

[deployment]
deploymentTarget = "cloudrun"
